.main-margin {
  margin-left:10%;
  margin-top:4%;
}

.custom-label {
  width: 14%;
  display: inline-block;
}

.form-group {
  padding: 1%
}

.main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
